@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto+Mono&display=swap');

/* general css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* general body css */
body {
	height: 100%;
	width: 100%;
	font-family: "Mountains Of Christmas", cursive;
	background: radial-gradient(ellipse at bottom, #95a8bd 0%, #373b4d 100%);
	overflow-x: hidden;
	min-height: 100vh;
	color: white;
}

/* header */
header {
	height: fit-content;
	margin: auto;
	width: 100%;
}

#image {
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	display: flex;
}

h1 {
	text-align: center;
	color: #165B33;
	font-family: "Mountains Of Christmas", cursive;
}

p {
	text-align: center;
	color: black;
	font-family: "Roboto Mono", cursive;
	margin: 0 auto;
	padding: 5%;
}



/* Snowflake effect - code source https://github.com/hyperstown/puresnowjs/blob/master*/
.snowflake {
	position: absolute;
	width: 10px;
	height: 10px;
	background: linear-gradient(white, white);
	/* Workaround for Chromium's selective color inversion */
	border-radius: 50%;
	filter: drop-shadow(0 0 10px white);
}

@media screen and (max-width: 950px) {
	.christmas-game {
		width: 70%;
		height: 650px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		background: #165B33;
	}
}

@media screen and (max-width: 400px) {
	.christmas-game {
		width: 90%;
		height: 650px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		background: #165B33;
	}
}