@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto+Mono&display=swap');

/* general css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* general body css */
body {
	height: 100%;
	width: 100%;
	font-family: "Mountains Of Christmas", cursive;
	background: radial-gradient(ellipse at bottom, #95a8bd 0%, #373b4d 100%);
	overflow-x: hidden;
	min-height: 100vh;
	color: white;
}

/* header */
header {
	height: fit-content;
	margin: auto;
	width: 100%;
}

#image {
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	display: flex;
}

h1 {
	text-align: center;
	color: #165B33;
	font-family: "Mountains Of Christmas", cursive;
}

p {
	text-align: center;
	color: black;
	font-family: "Roboto Mono", cursive;
	margin: 0 auto;
	padding: 5%;
}

/* game container general css */
.game {
    display: flex;
    justify-content: center;
}

/* game buton styling */

.game button {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #165B33;
    color: white;
	display: flex;
}

/* adding the card container display */

.grid-container {
	display: grid;
	justify-content: center;
	grid-gap: 16px;
	grid-template-columns: repeat(6, 140px);
	grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }
  
.card {
	height: calc(140px / 2 * 3);
	width: 140px;
	border-radius: 10px;
	background-color: white;
	position: relative;
	transform-style: preserve-3d;
	transition: all 0.5s ease-in-out;
  }

/* setting the size of the cards  */

.front-image {
	width: 60px;
	height: 60px;
  }
 
/* fliping the cards */

.card.flipped {
	transform: rotateY(180deg);
  }
  
.front, .back {
	  backface-visibility: hidden;
	  position: absolute;
	  border-radius: 10px;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
  }
  
.card .front {
	display: flex;
	justify-content: center;
	align-items: center;
  }

 /* card back image url */ 
 .card .back {
	background-image: url("https://www.canva.com/design/DAFN1un1Joo/fjbg7UZKqrDlm8oVOBOoqg/edit?utm_content=DAFN1un1Joo&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton");
	background-position: center center;
	background-size: cover;
	backface-visibility: hidden;
  }
  
.card .front {
	transform: rotateY(180deg);
  }

/* Snowflake effect - code source https://github.com/hyperstown/puresnowjs/blob/master*/
.snowflake {
	position: absolute;
	width: 10px;
	height: 10px;
	background: linear-gradient(white, white);
	/* Workaround for Chromium's selective color inversion */
	border-radius: 50%;
	filter: drop-shadow(0 0 10px white);
}

@media screen and (max-width: 950px) {
	.christmas-game {
		width: 70%;
		height: 650px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		background: #165B33;
	}
}

@media screen and (max-width: 400px) {
	.christmas-game {
		width: 90%;
		height: 650px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		background: #165B33;
	}
}